In [ ]:
#Notebook inicial de EDA para llamadas 123

In [3]:
#Importar librerias de manipulación
import pandas as pd
import os 
from pathlib import Path

In [4]:
from fileinput import filename


root_dir=Path ('.').resolve().parent
root_dir
file_name='llamadas123_julio_2022.csv'
file_path=os.path.join(root_dir,"data","raw",file_name)
file_path

'C:\\Users\\orsan\\Desktop\\Especializacion\\Herramientas_Big_Data\\data\\raw\\llamadas123_julio_2022.csv'

In [5]:
df=pd.read_csv(file_path,sep=";",encoding="latin-1")

In [6]:
df.head(10)

,NUMERO_INCIDENTE,FECHA_INICIO_DESPLAZAMIENTO_MOVIL,CODIGO_LOCALIDAD,LOCALIDAD,EDAD,UNIDAD,GENERO,RED,TIPO_INCIDENTE,PRIORIDAD,RECEPCION
0,CRU-00278353-22,2022-07-01 00:08:59,11,Suba,88,A¤os,FEMENINO,Norte,Accidente Cerebro Vascular,ALTA,2022-07-01 03:40:13
1,CRU-00278360-22,2022-07-01 00:14:58,11,Suba,16,A¤os,MASCULINO,Norte,Herido,ALTA,2022-07-01 03:38:13
2,CRU-00278365-22,2022-07-01 00:21:59,18,Rafael Uribe Uribe,52,A¤os,FEMENINO,Centro Oriente,Evento Respiratorio,CRITICA,2022-07-01 04:08:24
3,CRU-00278370-22,2022-07-01 00:38:38,19,Ciudad Bol¡var,SIN_DATO,SIN_DATO,SIN_DATO,Privada,Herido,ALTA,0000-00-00 00:00:00
4,CRU-00278372-22,2022-07-01 00:53:32,1,Usaqun,33,A¤os,MASCULINO,Norte,Intento de Suicidio,ALTA,2022-07-01 03:25:29
5,CRU-00278376-22,2022-07-01 00:56:11,1,Usaqun,SIN_DATO,SIN_DATO,SIN_DATO,Norte,Evento Respiratorio,ALTA,0000-00-00 00:00:00
6,CRU-00278380-22,2022-07-01 01:09:14,17,La Candelaria,57,A¤os,FEMENINO,Norte,S¡ntomas Gastrointestinales,CRITICA,2022-07-01 04:17:41
7,CRU-00278379-22,2022-07-01 01:09:27,19,Ciudad Bol¡var,65,A¤os,FEMENINO,Sur,Enfermo,ALTA,2022-07-01 05:07:00
8,CRU-00278386-22,2022-07-01 01:11:07,15,Antonio Nari¤o,14,A¤os,MASCULINO,Sur,Convulsi¢n,ALTA,2022-07-01 02:37:45
9,CRU-00278383-22,2022-07-01 01:12:00,4,San Crist¢bal,83,A¤os,FEMENINO,Sur,Evento Respiratorio,ALTA,0000-00-00 00:00:00

In [7]:
df.shape # Es una tupla con filas y columnas
df.shape[0]# FIlas y [1] columnas
type(df.shape[0])#Tipo de dato de la tabla

int

In [8]:
df.dtypes #--> Saber los tipos de datos --> object es un string-->Esquema de la tabla

NUMERO_INCIDENTE                     object
FECHA_INICIO_DESPLAZAMIENTO_MOVIL    object
CODIGO_LOCALIDAD                      int64
LOCALIDAD                            object
EDAD                                 object
UNIDAD                               object
GENERO                               object
RED                                  object
TIPO_INCIDENTE                       object
PRIORIDAD                            object
RECEPCION                            object
dtype: object

In [9]:
from pickle import TRUE
from unicodedata import normalize


df['TIPO_INCIDENTE'].value_counts(normalize=TRUE)

Herido                                    0.255228
Inconsciente / Paro cardiorespiratorio    0.140942
Evento Respiratorio                       0.130525
Convulsi¢n                                0.090157
Enfermo                                   0.063730
Trastorno Mental                          0.058062
Dolor Tor cico                            0.054079
Intento de Suicidio                       0.051704
Accidente Cerebro Vascular                0.029950
S¡ntomas Gastrointestinales               0.028878
Ca¡da de Altura                           0.023899
Patolog¡a Ginecobsttrica                 0.021065
Intoxicaci¢n                              0.019916
Amenaza de Suicidio                       0.011337
Acompa¤amiento Evento                     0.007813
Violencia Sexual                          0.005285
Maltrato                                  0.002911
Electrocuci¢n / rescate                   0.001379
Sangrado Vaginal                          0.001379
Quemaduras                                0.000919
Solicitud de Apoyo                        0.000843
Name: TIPO_INCIDENTE, dtype: float64

In [10]:
df['EDAD'].value_counts(normalize=TRUE,dropna=False)#Se quitan los nulos

SIN_DATO    0.475144
23          0.011566
22          0.010724
30          0.010341
27          0.010264
              ...
7           0.001302
98          0.001226
9           0.001149
8           0.001072
97          0.000919
Name: EDAD, Length: 100, dtype: float64

In [27]:
df['EDAD'].unique()#Lista de valores unicos de la columna
len (df['EDAD'].unique())#Lista de valores unicos de la columna

100

In [11]:
lista_columnas=df.columns
lista_columnas[0:3]

Index(['NUMERO_INCIDENTE', 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL',
       'CODIGO_LOCALIDAD'],
      dtype='object')

In [12]:
for col in lista_columnas:
  print (col)
print('Fuera del loop')

NUMERO_INCIDENTE
FECHA_INICIO_DESPLAZAMIENTO_MOVIL
CODIGO_LOCALIDAD
LOCALIDAD
EDAD
UNIDAD
GENERO
RED
TIPO_INCIDENTE
PRIORIDAD
RECEPCION
Fuera del loop

In [13]:
for col in lista_columnas:
    lista_unicos=df[col].unique()
    n_unicos=len(lista_unicos)
    print ('columna',col,n_unicos)
print('Fuera del loop')

columna NUMERO_INCIDENTE 12015
columna FECHA_INICIO_DESPLAZAMIENTO_MOVIL 12781
columna CODIGO_LOCALIDAD 20
columna LOCALIDAD 20
columna EDAD 100
columna UNIDAD 6
columna GENERO 3
columna RED 5
columna TIPO_INCIDENTE 21
columna PRIORIDAD 4
columna RECEPCION 5235
Fuera del loop

In [14]:
#Crear un diccionario vacio
dict_reporte = dict()

for col in lista_columnas:
    lista_unicos = df[col].unique()
    n_unicos = len(lista_unicos)
    dict_reporte[col] = n_unicos
    #print('columna',col,n_unicos)

print('fuera del loop')
print(dict_reporte)

fuera del loop
{'NUMERO_INCIDENTE': 12015, 'FECHA_INICIO_DESPLAZAMIENTO_MOVIL': 12781, 'CODIGO_LOCALIDAD': 20, 'LOCALIDAD': 20, 'EDAD': 100, 'UNIDAD': 6, 'GENERO': 3, 'RED': 5, 'TIPO_INCIDENTE': 21, 'PRIORIDAD': 4, 'RECEPCION': 5235}

In [15]:
df_reporte=pd.DataFrame.from_dict(dict_reporte, orient='index')# Se convierte en tabla
df_reporte.rename({0:'Conteo'}, inplace=TRUE , axis=1)
df_reporte

                                   Conteo
NUMERO_INCIDENTE                    12015
FECHA_INICIO_DESPLAZAMIENTO_MOVIL   12781
CODIGO_LOCALIDAD                       20
LOCALIDAD                              20
EDAD                                  100
UNIDAD                                  6
GENERO                                  3
RED                                     5
TIPO_INCIDENTE                         21
PRIORIDAD                               4
RECEPCION                            5235

In [16]:
out_name='reporte' + file_name
out_name
out_path=os.path.join(root_dir,"data","processed",out_name)
df_reporte.to_csv(out_path)